html {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: Bold;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
}

.container li {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    list-style: none;
    padding: 0.1rem;
    border: 0.25rem #00809D solid;
    background-color: #FFA673;
}

#headshot {
    /* If you want it centered on screen at top, uncomment next 2, comment rest */
    /* width: 50%; */
    /* margin-left: 25%; */
    float: left;
    margin: 0px 20px 20px 0px;
}

#headshot>img {
    border: 10px solid #00809D;
    padding: 0px;
}

body {
    font-weight: lighter;
    /* Lighter than parent (html-font-weight-100) */
}

#summary {
    text-align: justify;
}

#work-experience {
    /* Move this under the image by clearing the float property */
    clear: left;
}

.work-exp-company {
    color: #687FE5;
    background-color: #EBD6FB;
    font-weight: bolder;
    margin-bottom: 0;
}

.work-exp-position {
    color: #FF4F0F;
    background-color: #FFA673;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

.work-exp-dates {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    display: block
}

@media (max-width: 800px) {

    .container {
        display: block;
        gap: 10px;
        margin-bottom: 10px;
    }

    #headshot {
        float: none;
        text-align: center;
    }

    #headshot>img {
        border: 10px solid #00809D;
        padding: 0px;
    }

    #summary {
        clear: left;
        text-align: unset;
    }

}