.work-exp-company{
 color: #687FE5;
 background-color: #EBD6FB;
 font-weight: bolder;
 margin-bottom: 0;
}

.work-exp-position{
    color: #FF4F0F;
    background-color: #FFA673;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: #640D5F;
}
